[Unit]
Description=lssd service
Requires=lnd_xsn.service
Requires=lnd_btc.service
Requires=lnd_ltc.service
After=lnd_xsn.service
After=lnd_btc.service
After=lnd_ltc.service

[Service]
Type=simple
Restart=on-failure
RestartSec=1
User=ubuntu
ExecStart=/usr/bin/env /home/ubuntu/lssd/AppRun
WorkingDirectory=/home/ubuntu/lssd/
[Install]
WantedBy=multi-user.target